  <div class="container" id="m-top">

  <div class="m-wrapper">

   <div class="m-title">
     <div class="row">
       <div class="col-sm-3">
         <h2>
         CREATE EVENT
         </h2>
       </div>


         <div class="col-sm-9">
           <a routerLinkActive="active" routerLink="/events-list" class="btn btn-success">View Events</a>
           <a routerLinkActive="active" routerLink="/create-event" class="btn btn-success">Add Event</a>
     </div>
     </div>
   </div>


       <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mForm xForm">
         <div class="form-group">
           <label for="inputName">Event Title</label>
           <input class="form-control" type="text" formControlName="name">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.name.errors?.required">
             Event Title is required.
           </div>
         </div>

         <div class="form-group row">
           <div class="col-sm-6">
           <label for="inputeventDate3">Event Date</label>
           <input class="form-control" type="date" formControlName="eventDate">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.eventDate.errors?.required">
             Enter your Event Date.
           </div>
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.eventDate.errors?.pattern">
             Enter valid Event Date.
           </div>
         </div>

         <div class="col-sm-6">
           <label for="inputPassword3">Event Type</label>
           <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
             formControlName="eventType">
             <option value="">Choose...</option>
             <option *ngFor="let eventProfile of EventProfile" value="{{eventProfile}}">{{eventProfile}}
             </option>
           </select>
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.eventType.errors?.required">
             Choose eventType.
           </div>
         </div>

         </div>

         <div class="form-group row">
           <div class="col-sm-6">
           <label for="inputLat">Latitude</label>
           <input class="form-control" type="text" formControlName="lat">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.lat.errors?.required">
             Latitude is required.
           </div>
         </div>


         <div class="col-sm-6">
           <label for="inputLong">Longitude</label>
           <input class="form-control" type="text" formControlName="long">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.long.errors?.required">
             Longitude is required.
           </div>
         </div>
        </div>

         <div class="form-group row">
           <div class="col-sm-3">
           <label for="inputStreet">Street</label>
           <input class="form-control" type="text" formControlName="street">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.street.errors?.required">
             Street is required.
           </div>
         </div>

         <div class="col-sm-3">
           <label for="inputCity">City</label>
           <input class="form-control" type="text" formControlName="city">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.city.errors?.required">
             City is required.
           </div>
         </div>


         <div class="col-sm-3">
           <label for="inputState">State</label>
           <input class="form-control" type="text" formControlName="state">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.state.errors?.required">
             State is required.
           </div>
         </div>

         <div class="col-sm-3">
           <label for="inputZipcode">Zipcode</label>
           <input class="form-control" type="text" formControlName="zipcode">
           <!-- error -->
           <div class="invalid-feedback d-block" *ngIf="submitted && myForm.zipcode.errors?.required">
             Zipcode is required.
           </div>
         </div>
        </div>
         <div class="form-group">
           <button class="btn btn-success btn-lg btn-block" type="submit">Create Event</button>
         </div>
       </form>
  </div>
</div>

