<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/rwandaWedding.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/rwandaflag.png" alt="">
                    </div>

                    <h2 class="presentation-subtitle text-center">Event - Management Information System</h2>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Rwanda Team Winners
         
        </h6>
        
    </div>
    <div class="col text-center" routerLinkActive="active">
        <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register
            Page</a>
    </div>
   
</div>