<div class="container">


  <div class="table-wrapper">

   <div class="table-title">
     <div class="row">
       <div class="col-sm-3">
         <h2>
         Confrimation
         </h2>
       </div>


         <div class="col-sm-9">
     </div>
     </div>
   </div>


   <div class="row">
     <div class="col-sm-12">

     </div>

     <div class="col-sm-6">

    </div>

    <div class="col-sm-6">

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-pink btn-rounded">Left</button>
        <button type="button" class="btn btn-pink btn-rounded">Middle</button>
        <button type="button" class="btn btn-pink btn-rounded">Right</button>
      </div>

    </div>

   </div>


  </div>


 </div>
