<div class="container">


  <div class="table-wrapper">

   <div class="table-title">
     <div class="row">
       <div class="col-sm-3">
         <h2>
         My Events
         </h2>
       </div>


         <div class="col-sm-9">
           <a routerLinkActive="active" routerLink="/events-list" class="btn btn-success">View Events</a>
           <a routerLinkActive="active" routerLink="/create-event" class="btn btn-success">Add Event</a>
     </div>
     </div>
   </div>


       <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
           <label for="inputName">Name</label>
           <input class="form-control" type="text" formControlName="name">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
             Name is required.
           </div>
         </div>

         <div class="form-group">
           <label for="inputeventDate3">eventDate</label>
           <input class="form-control" type="text" formControlName="eventDate">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.eventDate.errors?.required">
             Enter your eventDate.
           </div>
           <div class="invalid-feedback" *ngIf="submitted && myForm.eventDate.errors?.pattern">
             Enter valid eventDate.
           </div>
         </div>

         <div class="form-group">
           <label for="inputPassword3">eventType</label>
           <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
             formControlName="eventType">
             <option value="">Choose...</option>
             <option *ngFor="let eventProfile of EventProfile" value="{{eventProfile}}">{{eventProfile}}
             </option>
           </select>
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.eventType.errors?.required">
             Choose eventType.
           </div>
         </div>

         <div class="form-group">
           <label for="inputVerify3">Event Status</label>
           <input class="form-control" type="text" formControlName="eventStatus">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.eventStatus.errors?.required">
             Enter your phone number.
           </div>

         </div>

         <div class="form-group">
           <label for="inputLat">Lat</label>
           <input class="form-control" type="text" formControlName="lat">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.lat.errors?.required">
             Lat is required.
           </div>
         </div>


         <div class="form-group">
           <label for="inputLong">Long</label>
           <input class="form-control" type="text" formControlName="long">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.long.errors?.required">
             Lat is required.
           </div>
         </div>

         <div class="form-group">
           <label for="inputStreet">Street</label>
           <input class="form-control" type="text" formControlName="street">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.street.errors?.required">
             Lat is required.
           </div>
         </div>

         <div class="form-group">
           <label for="inputCity">City</label>
           <input class="form-control" type="text" formControlName="city">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.city.errors?.required">
             City is required.
           </div>
         </div>


         <div class="form-group">
           <label for="inputState">State</label>
           <input class="form-control" type="text" formControlName="state">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.state.errors?.required">
             Lat is required.
           </div>
         </div>

         <div class="form-group">
           <label for="inputZipcode">Zipcode</label>
           <input class="form-control" type="text" formControlName="zipcode">
           <!-- error -->
           <div class="invalid-feedback" *ngIf="submitted && myForm.zipcode.errors?.required">
             Lat is required.
           </div>
         </div>

         <div class="form-group">
           <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
         </div>
       </form>
  </div>


 </div>

