<div class="container">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-color static-top">
      <div class="container">
          <p class="logo">THE EVENT APPLICATION</p>

          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="/events-list" class="nav-link">View Events</a>
                  </li>
                  <li class="nav-item">
                      <a *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="/create-event" class="nav-link">Add Event</a>
                  </li>



              </ul>
          </div>

          <p class="nav-right">
              <a *ngIf="!isLoggedIn()" routerLinkActive="active" routerLink="/organizer-register" class="btn btn-light btn-sm">Register</a>

            <span class="text-white txt-p">   {{userDisplayName}}     </span>

                <a *ngIf="!isLoggedIn()" routerLinkActive="active" routerLink="/login" class="btn btn-light btn-sm">Login</a>




            <button *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-light btn-sm">Logout</button>
          </p>
      </div>


  </nav>
</div>
<router-outlet></router-outlet>
