
 <div class="container">
  <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-color static-top">
   <div class="container">
    <p class="logo">Event Management System</p>

     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a routerLinkActive="active" routerLink="/events-list" class="nav-link">View Events</a>

         </li>
         <li class="nav-item">
          <a routerLinkActive="active" routerLink="/create-event" class="nav-link">Add Event</a>
         </li>
         <li class="nav-item">
          <a routerLinkActive="active" routerLink="/create-guest" class="nav-link">Add Guest</a>
         </li>
       </ul>
     </div>

     <p class="text-white txt-p">

           Anonymous



          WELCOME Fab

          </p>


         <a  class="btn btn-light btn-sm">Logout</a>

   </div>
 </nav>
 </div>
 <nav>

</nav>

<router-outlet></router-outlet>
