<div class="container" id="m-top">
           <div class="row justify-content-center">
          <div class="col-md-7 p-3 bg-white">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mForm">
            <div class="form-group">
                <label for="inputFirstname">Firstname</label>
                <input class="form-control" type="text" formControlName="firstname">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.firstname.errors?.required">
                    Firstname is required.
                </div>
            </div>

            <div class="form-group">
                <label for="inputLastname">Lastname</label>
                <input class="form-control" type="text" formControlName="lastname">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.lastname.errors?.required">
                    Lastname is required.
                </div>
            </div>

            <div class="form-group">
                <label for="inputName">Email</label>
                <input class="form-control" type="text" formControlName="email">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
                    Email is required.
                </div>
            </div>

            <div class="form-group">
                <label for="inputName">Password</label>
                <input class="form-control" type="text" formControlName="password">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                    password is required.
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit">REGISTER</button>
            </div>
        </form>
        </div>
        </div>

</div>
