/* You can add global styles to this file, and also import other style files */

body {
color: #566787;
background: #c6d9e0;
font-family: 'Varela Round', sans-serif;
font-size: 13px;
}


.m-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.m-title {
padding-bottom: 15px;
background: #435d7d;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.m-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.m-title .btn-group {
float: right;
}


.m-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  }



#m-top {
  margin-top: 180px;
}

.mForm {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.xForm {
box-shadow: none !important;
}



.mForm input, .mForm select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 15px;
}

.mForm input::focus, .mForm select::focus {
  background-color: #67b0d1;
}

.mForm select {
  padding: 24px 10px !important;
  line-height: 22px;

}

.btn {
  border-radius: 0px !important;
}


